@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

$text-1: #333;
$text-2: #666;
$text-3: #999;
$line: #ccc;
$time-bg: #eee;
$background: #f7f7f7;
$colorUnRead: #2d7ee7;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  z-index: 10;
  position: absolute;
  transform: translateY(100%);
  right: -86px;
  bottom: -21px;
}

.pic {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.contact {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 5rem;
  height: 4.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .pic {
    position: absolute;
    left: 0;

    .one-img {
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 100rem;
    }

    .multiple-img {
      width: 64px;
      height: 64px;
      border-radius: 100rem;
      position: relative;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        position: absolute;
        border-radius: 100rem;

        &:nth-child(1) {
          left: 0;
          bottom: 0;
          background-color: red;
          z-index: 1;
        }
        &:nth-child(2) {
          background-color: blue;
          right: 0;
          top: 0;
          z-index: 2;
        }
      }
    }
  }

  .name {
    font-family: Red hat Display, sans-serif;
    line-height: 1.25em;
    letter-spacing: 0.025em;
    color: $text-1;
    font-weight: 500;
    margin-bottom: 0.125rem;

    &.unread {
      color: #e0e2e6;
    }
  }

  .message,
  .seen {
    font-family: Red hat Display, sans-serif;
    line-height: 1.25em;
    letter-spacing: 0.025em;
    font-size: 0.9rem;
    color: $text-3;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;

    &.unread {
      color: $colorUnRead;
    }
  }

  .NotificationCircle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: $colorUnRead;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.contacts {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-6rem, -50%);
  width: 21rem;
  height: 450px;
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;
  overflow-y: scroll;
  cursor: pointer;

  background: white;
  box-shadow: 0 0 8rem 0 rgba(black, 0.1), 2rem 2rem 4rem -3rem rgba(black, 0.5);

  transition: transform 500ms;

  h2 {
    margin: 0.5rem 0 1.5rem 5rem;
  }

  .contacts-container {
    position: relative;
    z-index: 2;
    overflow-y: auto;
  }

  .options-chat {
    position: absolute;
    left: 2.25rem;

    .list_options_chat {
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s linear;
    }

    &:hover {
      .list_options_chat {
        opacity: 1;
        visibility: visible;
      }
    }

    i {
      color: $text-3;
      transition: color 200ms;
      display: block;
      height: 100%;

      &:hover {
        color: $text-2;
      }
    }

    .list_options_chat {
      position: absolute;
      border: 1px solid #333;
      width: 200px;
      right: 0;
      top: calc(100%);

      button {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
      }
    }
  }

  .contact:last-child {
    margin: 0;
  }

  &:hover {
    transform: translate(-21rem, -50%);
  }
}

.chat {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 22rem;
  height: 33rem;
  box-sizing: border-box;
  border-radius: 1rem;

  background: white;
  box-shadow: 0 0 8rem 0 rgba(black, 0.1), 0rem 2rem 4rem -3rem rgba(black, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .contact.bar {
    flex-basis: 3.5rem;
    flex-shrink: 0;
    margin: 1rem;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;

    .contact-info {
      display: flex;
      flex-direction: column;
    }

    .icon-call {
      margin-left: auto;
      margin-right: 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      i {
        color: #333;
        font-size: 20px;
      }
    }
  }

  .messages {
    padding: 1rem;
    background: $background;
    overflow-y: auto;
    flex-shrink: 2;
    flex: 1;
    display: flex;
    flex-direction: column;

    box-shadow: inset 0 2rem 2rem -2rem rgba(black, 0.05),
      inset 0 -2rem 2rem -2rem rgba(black, 0.05);

    .time {
      font-size: 0.7rem;
      // background: $time-bg;
      // padding: 0.25rem 1rem;
      border-radius: 2rem;
      color: $text-3;
      width: fit-content;
      margin: 0 1rem;

      &.user {
        display: flex;
        margin-left: auto;
        padding-left: 1rem;
      }
      &.notify {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .messagesContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .messageContent {
        position: relative;

        &:hover {
          .CrudMessage {
            opacity: 1;
            visibility: visible;
          }
        }

        .CrudMessage {
          width: 30px;
          height: 30px;
          border-radius: 100rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 0;
          transition: 0.25s linear;
          transform: translate(15px, -50%);
          opacity: 0;
          visibility: hidden;
          transition: all 0.25s linear;

          &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            right: 0;
            top: 0;
          }

          &:hover {
            background-color: rgb(194, 190, 190);
            transition: 0.25s linear;

            .buttonActions {
              opacity: 1;
              visibility: visible;
            }
          }

          .buttonActions {
            min-width: 200px;
            top: calc(100% + 5px);
            right: 15px;
            position: absolute;
            padding: 10px;
            border: 1px solid #333;
            border-radius: 5px;
            font-size: 14px;
            color: #333;
            display: flex;
            flex-direction: column;
            gap: 5px;
            z-index: 5;
            background-color: #242526;
            color: #e0e2e6;
            // opacity: 0;
            // visibility: hidden;

            button {
              background-color: transparent;
              border: 0;
              outline: 0;
              color: #fff;

              &:hover {
                background-color: rgb(250, 247, 247);
                color: #333;
              }
            }
          }
        }

        .message {
          box-sizing: border-box;
          padding: 0.5rem 1rem;
          margin: 1rem 1rem 5px;
          background: #fff;
          border-radius: 1.125rem 1.125rem 1.125rem 0;
          min-height: 2.25rem;
          width: fit-content;
          max-width: 66%;
          box-shadow: 0 0 2rem rgba(black, 0.075),
            0rem 1rem 1rem -1rem rgba(black, 0.1);

          &.user {
            margin: 1rem 1rem 5px auto;
            border-radius: 1.125rem 1.125rem 0 1.125rem;
            background: $text-1;
            color: white;
          }

          &.friend {
            color: $text-1;
          }
          &.notify {
            margin: 1rem auto 0;
            font-size: 12px;
            background-color: transparent;
            color: #333;
            box-shadow: none;
          }

          .typing {
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            margin-right: 0rem;
            box-sizing: border-box;
            background: #ccc;
            border-radius: 50%;

            &.typing-1 {
              animation: typing 3s infinite;
            }
            &.typing-2 {
              animation: typing 3s 250ms infinite;
            }
            &.typing-3 {
              animation: typing 3s 500ms infinite;
            }
          }
        }

        .imgsContainer {
          display: flex;
          justify-content: flex-start;
          margin: -5px 1rem 0;

          .imgs {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
            max-width: 200px;

            .img {
              width: 100px;
              height: 100px;
              padding: 5px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          &.user {
            justify-content: flex-end;
          }

          &.add-space {
            margin-top: 5px;
          }
        }
      }
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
  }

  .input {
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
    margin-top: auto;
    width: 100%;

    &.files {
      align-items: flex-end;
      padding-bottom: 12px;
    }

    .icon-camera {
      display: flex;
      align-items: flex-end;
      padding: 0;
      margin: 0;
    }

    i {
      font-size: 1.5rem;
      margin-right: 1rem;
      color: $text-2;
      cursor: pointer;
      transition: color 200ms;

      &:hover {
        color: $text-1;
      }
    }

    .inputContainer {
      background-color: white;
      border-radius: 1.125rem;
      margin-right: 1rem;
      border: 1px solid #333;
      width: 100%;
      overflow: hidden;

      .display-image-message {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 100%;
        box-shadow: 0 0 1rem rgba(black, 0.1),
          0rem 1rem 1rem -1rem rgba(black, 0.2);

        .imgMessage {
          width: 70px;
          height: 50px;
          flex-shrink: 0;
          border-radius: 5px;
          margin-right: 10px;
          position: relative;

          :last-child {
            margin-right: 0px;
          }

          .imgCancel {
            position: absolute;
            top: 0;
            right: -5px;
            z-index: 2;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: #999;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
          }
        }
      }

      .inputCreate {
        // position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem 1rem;
        input {
          // flex: 1;
          width: 90%;
          margin-right: 5px;
          border: none;
          outline: 0;
          background-color: white;
          background-image: none;
          border-radius: inherit;
          // flex-grow: 2;
          // flex-shrink: 1;

          font-family: Red hat Display, sans-serif;
          font-weight: 400;
          letter-spacing: 0.025em;

          &::placeholder {
            color: $text-3;
            user-select: none;
            font-size: 14px;
          }
        }

        img {
          flex: 1;
        }

        // img {
        //   position: absolute;
        //   top: 50%;
        //   right: 0;
        //   transform: translate(-10px, -50%);
        // }
      }
    }

    &.disable {
      i,
      input {
        pointer-events: none;
      }
    }
  }
}

@keyframes typing {
  0%,
  75%,
  100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }

  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
